@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cormorant Upright";
  src: url("@/assets/fonts/CormorantUpright-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("@/assets/fonts/OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Apply the font globally */
body {
  font-family: "Cormorant Upright", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
